<!doctype html>
<html lang="en">
<head>
  <meta name="description" content="En iyi fırsat ürünlerini keşfedin. İndirimli fiyatlarla alışveriş yapın. Hemen inceleyin!">
  <title>İndirimli Teknoloji Ürünleri | En Uygun Fiyatlar ve Kampanyalar</title>
  
  <title>Bemis Fiş Priz & Endüstriyel Elektrik Malzemeleri | Uygun Fiyatlar</title>
  <meta name="description" content="Endüstriyel fiş priz, kombinasyon priz panosu, ex proof priz ve tüm elektrik malzemeleri için en iyi fiyatları kaçırmayın. Şimdi keşfedin!">
  
  <title>Endüstriyel Fiş ve Priz | Kauçuk, Şarjlı, Uzatmalı ve Kombinasyon Prizler</title>
  <meta name="description" content="Endüstriyel fiş priz, elektrik panosu, bemis fiyat listesi, ex proof priz ve sanayi tipi fiş modelleri. En uygun fiyatlarla sipariş verin!">

  <meta property="og:url" content="https://byco.com.tr/shop">
  <meta property="og:type" content="website">
  <link rel="canonical" href="https://byco.com.tr/shop">

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3173123619591638"
        crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <title>BYCO</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PQEYN9C3X3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PQEYN9C3X3');
</script>
</head>
<body>
  <app-root></app-root>
</body>
</html>
